<!doctype html>
<html class="no-js">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<title>Code Template</title>
		<link rel="shortcut icon" href="images/favico.ico" type="image/x-icon" />

		<!-- css  -->
		
		<link rel="stylesheet" href="webjars/bootstrap/3.3.1/css/bootstrap.css"/>
		<link rel="stylesheet" href="webjars/bootstrap/3.3.1/css/bootstrap-theme.css"/>
		<link rel="stylesheet" href="css/styles.css"/>
		
		<script src="webjars/underscorejs/1.7.0/underscore.js"></script>
		<script src="webjars/jquery/2.1.1/jquery.js"></script>
		<script src="webjars/bootstrap/3.3.1/js/bootstrap.js"></script>
	
		<script src="webjars/angularjs/1.3.3/angular.js"></script>
		<script src="webjars/angularjs/1.3.3/angular-resource.js"></script>
		<script src="webjars/angular-ui-router/0.2.12/angular-ui-router.js"></script>

		<script th:inline="javascript">
		/*<![CDATA[*/
			var api = /*[[${api}]]*/ '';
		/*]]>*/
		</script>

		<script src="client/application.js"></script>
		<script src="client/directives/spec-navbar.js"></script>
		<script src="client/directives/spec-header.js"></script>
		<script src="client/directives/spec-instructions.js"></script>
		<script src="client/home/home.js"></script>
		<script src="client/templates/templates.js"></script>
		<script src="client/groups/groups.js"></script>
		<script src="client/projects/projects.js"></script>
	</head>

	<body ng-app="codetemplate">

		<div spec-navbar="" title="Code Template" user="Paul Woods" build="0"></div>
		
		<div class="container">
			<div ui-view=""></div>
		</div>
		
	</body>

</html>
